.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.tt-align {
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.lh-150 {
  line-height: 150%;
}

.lh-130 {
  line-height: 130%;
}
